<<<<<<< HEAD
<h2>Edit fortune</h2>
=======
<h1>Editing fortune</h1>
>>>>>>> 8d2aebde7e651eb71d84c9de057e64e9884be77f

<%= render 'form' %>

<%= link_to 'Show', @fortune %> |
<%= link_to 'Back', fortunes_path %>
